@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Camping de la vie !</h1>
    <img src="./Images/camping.jpg"/>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Clients", "Index", "Clients")</h2>
        <img src="./Images/clients.jpg" width-max="20%" height="15"/>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Séjours", "Index", "Sejours")</h2>
        <img src="./Images/sejours.jpg" />

    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Mobil Home", "Index", "Mobil_home")</h2>
        <img src="./Images/mobilhome.jpg" />

    </div>
</div>
<div>
    @Html.ActionLink("Clients", "Index", "Clients")<br />
    @Html.ActionLink("Séjours", "Index", "Sejours")<br />
    @Html.ActionLink("Mobil Home", "Index", "Mobil_home")<br />
    @Html.ActionLink("Type séjour", "Index", "Type_sejour")<br />
    @Html.ActionLink("Locations d'objets", "Index", "Locations")<br />
    @Html.ActionLink("Tarifs", "Index", "Tarifs")

</div>